.sticky-header {
    color: white;
    position: sticky;
    top: 0;
    background-color: rgb(222 102 0 / var(--tw-bg-opacity));
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 0; /* Certifique-se de que isso seja menor que o z-index do modal */
}